<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../style/index.css">
		<meta charset="UTF-8" />
		<meta
			http-equiv="Content-Security-Policy"
			content="default-src 'self'; script-src 'self'"
			/>
		<meta
		http-equiv="X-Content-Security-Policy"
		content="default-src 'self'; script-src 'self'"
		/>
		<title>HashPass</title>
	</head>
	<body>
		<div class="loading-box">
			<div class="logo">
				<img src="../img/logo-light.png">
			</div>
			<div class="loader">
	
			</div>
		</div>
	</body>
	<script src="../js/loading.js"></script>
</html>