.default-dashboard{
    width: 350px;
    display: flex;
    flex-flow: column;
}

.menu-option{
    height: 100%;
    width: 100%;
}

#main-option{
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        opacity: 0.3;
        width: 70%;
        height: 75%;
        image-orientation: flip;
        border-image: fill;
    }
}