.loading-box {
  height: 100vh;
  background-color: #e3ffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.loading-box .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box .logo img {
  width: 200px;
  margin: 0 auto;
}
.loading-box .loader {
  height: 7px;
  width: 100%;
  background-color: #000552;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  background-color: #000552;
  width: 150px;
  display: flex;
  border-radius: 0 15px 15px 0;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-shadow: 10px 0px 17px -3px rgba(0, 0, 0, 0.75);
  z-index: 3;
}
.menu .logo {
  width: 120px;
  margin: 10px auto;
}
.menu .items {
  height: 70%;
  color: white;
  padding: 0px 10px;
}
.menu .items .menu-item {
  margin-top: 15PX;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.menu .items .menu-item img {
  width: 15%;
  filter: brightness(0) invert(1);
}
.menu .items .menu-item label {
  padding-top: 5px;
  width: 75%;
}
.menu .items .menu-item:hover {
  color: #4ff9ff;
}
.menu .items .menu-item:hover img {
  filter: brightness(0) invert(84%) sepia(28%) saturate(1155%) hue-rotate(146deg) brightness(103%) contrast(101%);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  border-bottom: 2px solid #000552;
  background-color: #e3ffff;
}
nav::before {
  content: "hidden";
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 200px;
  color: #e3ffff;
  background-color: #e3ffff;
  z-index: -1;
}

#active-menu {
  margin-left: 15px;
  text-transform: uppercase;
}

.control-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.default-dashboard {
  width: 350px;
  display: flex;
  flex-flow: column;
}

.menu-option {
  height: 100%;
  width: 100%;
}

#main-option {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-option img {
  opacity: 0.3;
  width: 70%;
  height: 75%;
  image-orientation: flip;
  -o-border-image: fill;
     border-image: fill;
}

#app {
  height: 350px;
  display: flex;
}/*# sourceMappingURL=index.css.map */