nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    border-bottom: 2px solid $L-dark-blue;
    background-color: $L-background;

    &::before{
        content: 'hidden';
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 200px;
        color: $L-background;
        background-color: $L-background;
        z-index: -1;
    }
}

#active-menu{
    margin-left: 15px;
    text-transform: uppercase;
}

.control-buttons{
    display: flex;
    align-items: center;
    height: 100%;
}